In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv("/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [12]:
import os
os.listdir('/')

['home',
 'bin',
 'boot',
 'usr',
 'tmp',
 'opt',
 'run',
 'etc',
 'proc',
 'lib64',
 'media',
 'var',
 'root',
 'libx32',
 'lib32',
 'lib',
 'dev',
 'srv',
 'sys',
 'mnt',
 'sbin',
 'kaggle',
 'train.csv',
 '.dockerenv',
 'tools',
 'datalab',
 'content',
 'python-apt',
 'python-apt.tar.xz']

In [14]:
import pandas as pd

df_original = pd.read_csv('/train.csv')

In [15]:
df_original.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [17]:
df_original.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [18]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [20]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [21]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [22]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [28]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [30]:
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

KeyError: "None of [Index(['Embarked'], dtype='object')] are in the [columns]"

In [31]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [32]:
df = df.drop(columns=['Name','Ticket'])

In [33]:
df.duplicated().sum

<bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool>

In [34]:
df.duplicated().sum()

np.int64(0)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          0 non-null      float64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked_Q   891 non-null    bool
 9   Embarked_S   891 non-null    bool
dtypes: bool(2), float64(3), int64(5)
memory usage: 57.6 KB

In [36]:
df = pd.read_csv("/train.csv")

In [37]:
df = df.drop(columns=['Cabin'])

In [38]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [39]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [40]:
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

In [41]:
df = df.drop(columns=['Name', 'Ticket'])

In [42]:
df.isnull().sum()
df.duplicated().sum()

np.int64(0)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked_Q   891 non-null    bool
 9   Embarked_S   891 non-null    bool
dtypes: bool(2), float64(2), int64(6)
memory usage: 57.6 KB

In [44]:
df.to_csv("titanic_cleaned.csv",index=False)

**Steps performed:**
1.Imported required libraries (pandas, numpy).
2.Loaded Titanic dataset using pd.read_csv().
3.Explored data using .head(), .shape(), and .info().
4.Identified missing values using df.isnull().sum().
5.Dropped the Cabin column due to excessive missing values.
6.Filled missing Age values using median.
7.Filled missing Embarked values using mode.
8.Encoded categorical columns (Sex, Embarked).
9.Checked and confirmed no duplicate records.
10.Saved the cleaned dataset as titanic_cleaned.csv.
**Conclusion**:
The dataset was successfully cleaned, processed, and prepared for analysis and machine learning. All missing values were handled, irrelevant columns removed, and categorical variables converted into numerical format.